accelerate>=1.0.0
diffusers>=0.38.0
datasets>=3.0.0
einops
lpips
matplotlib
numpy
opencv-python
pandas
pillow
pytesseract
psd-tools
scikit-image
safetensors>=0.8.0rc0
torch
torchao==0.16.0
torchvision
transformers>=4.57.1,<5.0
